
@{
    ViewData["Title"] = "InfoInput";
}
@section Pageheader{

    <h1>
        <small>客户信息创建 </small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Customer</li>
    </ol>

}
<section class="content" id="tab">
    <div class="row">
        <div class="col-md-2"></div>
        <div class=" col-md-8">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">客户信息</h3>
                </div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">公司名称（中文）</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" id="easytip-div-mainCC" style="width:auto" v-model="infoItem.CompanyChinese" message="公司名称（中文）不能为空" easytip="disappear:lost-focus;theme:blue;">
                                </div>
                                <label class="col-md-2 control-label">公司名称（英文）</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.CompanyEnglish">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">法人代表</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.TheLegalRepresentative">
                                </div>
                                <label class="col-md-2 control-label">注册地址</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.RegisterAddress">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">办公地址</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.OfficeAddress">
                                </div>
                                <label class="col-md-2 control-label">订单联系人</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.OrderContact">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">联系电话1</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.Telphone1">
                                </div>
                                <label class="col-md-2 control-label">邮政编码</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.ZipCode">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">联系传真1</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.fax1">
                                </div>
                                <label class="col-md-2 "></label>
                                <div class="col-md-4" style="display: table">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">收货地址</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.ReceiptAddress">
                                </div>
                                <label class="col-md-2 control-label">收货联系人</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.ReceiptContact">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">联系电话2</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.Telphone2">
                                </div>
                                <label class="col-md-2 control-label">正常收货时间</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control " id="datepicker1" style="width:auto" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">联系传真2</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.fax2">
                                </div>
                                <label class="col-md-2 "></label>
                                <div class="col-md-4" style="display: table">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">开票地址</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.BillingAddress">
                                </div>
                                <label class="col-md-2 control-label">开户银行</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.AccountBank">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">银行账号</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.Account">
                                </div>
                                <label class="col-md-2 control-label">税号</label>
                                <div class="col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                    <input type="text" class="form-control" style="width:auto" v-model="infoItem.TaxNumber">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" style="text-align:center">是否一般纳税人资格</label>
                            <label class="col-md-1">
                                <input type="radio" name="r3" class="flat-red" style="width:18px;height:18px" value="是" v-model="infoItem.Taxpayereligibility">
                                <span>是</span>
                            </label>
                            <label class="col-md-1">
                                <input type="radio" name="r3" style="width:18px;height:18px" class="flat-red" value="否" v-model="infoItem.Taxpayereligibility">
                                <span>否</span>
                            </label>
                            <label class="col-md-1">
                                <input type="radio" name="r3" style="width:18px;height:18px" class="flat-red" value="其他" v-model="infoItem.Taxpayereligibility">
                                <span>其他</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label">商家所属省份</label>
                                <div class="  col-md-4" style="display: table">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                <select class="form-control" style="width:180px;overflow: scroll" v-model="infoItem.Province">
                                    <option value="北京市">北京市</option>
                                    <option  value="上海市">上海市</option>
                                    <option value="天津市">天津市</option>
                                    <option value="重庆市">重庆市</option>
                                    <option value="河北省">河北省</option>
                                    <option value="陕西省">陕西省</option>
                                    <option value="山西省">山西省</option>
                                    <option value="辽宁省">辽宁省</option>
                                    <option value="吉林省">吉林省</option>
                                    <option value="黑龙江省">黑龙江省</option>
                                    <option value="江苏省">江苏省</option>
                                    <option value="浙江省">浙江省</option>
                                    <option value="安徽省">安徽省</option>
                                    <option value="福建省">福建省</option>
                                    <option value="江西省">江西省</option>
                                    <option value="山东省">山东省</option>
                                    <option value="河南省">河南省</option>
                                    <option value="湖北省">湖北省</option>
                                    <option value="湖南省">湖南省</option>
                                    <option value="广东省">广东省</option>
                                    <option value="海南省">海南省</option>
                                    <option value="四川省">四川省</option>
                                    <option value="贵州省">贵州省</option>
                                    <option value="云南省">云南省</option>
                                    <option value="陕西省">陕西省</option>
                                    <option value="甘肃省">甘肃省</option>
                                    <option value="青海省">青海省</option>
                                    <option value="台湾省">台湾省</option>
                                    <option value="内蒙古自治区">内蒙古自治区</option>
                                    <option value="广西壮族自治区">广西壮族自治区</option>
                                    <option value="西藏自治区">西藏自治区</option>
                                    <option value="宁夏回族自治区">宁夏回族自治区</option>
                                    <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                                    <option value="香港特别行政区">香港特别行政区</option>
                                    <option value="澳门特别行政区">澳门特别行政区</option>
                                </select>


</div>
                                <label class="col-md-2 "></label>
                                <div class="col-md-4" style="display: table">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">有效营业执照</label>
                            <div class="col-md-4" style="display: table">
                                <input type="file" id="exampleInputFile">
                            </div>
                            <label class="col-md-2 control-label">一般纳税人资格证书</label>
                            <div class="col-md-4" style="display: table">
                                <input type="file" id="exampleInputFile">
                            </div>
                        </div>

                        <div class="form-group">
                            @*<label class="col-md-4 control-label">法人身份证复印件 或 被授权人身份证及授权书</label>
                                <div class="col-md-3" style="display: table">
                                    <input type="file" id="exampleInputFile">
                                </div>*@
                            <label class="col-md-4 control-label">法人身份证复印件或被授权人身份证及授权书</label>
                            <el-upload class="upload-demo col-md-3"
                                       action=""
                                       :on-preview="handlePreview"
                                       :on-remove="handleRemove"
                                       :before-remove="beforeRemove"
                                       multiple
                                       :limit="3"
                                       :on-exceed="handleExceed"
                                       :file-list="fileList">
                                <el-button size="small" type="primary" class="col-md-3" style="width:auto">点击上传</el-button>
                            </el-upload>



                        </div>
                        <div class="box-footer">
                            <button type="reset" class="btn btn-default">取消</button>
                            <button type="button" class="btn btn-info pull-right" v-on:click="Add()">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


</section>
@section scripts{
    <script>
        
        var self;
        var vm = new Vue({
            el: "#tab",
            data: {
                list: [],
                infoItem: {
                    CompanyChinese: "",
                    CompanyEnglish: "",
                    TheLegalRepresentative: "",
                    RegisterAddress: "",
                    OfficeAddress: "",
                    OrderContact: "",
                    Telphone1: "",
                    ZipCode: "",
                    fax1: "",
                    ReceiptAddress: "",
                    ReceiptContact: "",
                    Telphone2: "",
                    ReceiptDate: "",
                    fax2: "",
                    BillingAddress: "",
                    AccountBank: "",
                    Account: "",
                    TaxNumber: "",
                    Province: "",
                    Taxpayereligibility:"是"
                    //TODO:  1，把属性加全
                }
            },
            created: function () {
                self = this;
                $('#tab').easyform();
                
            },
            mounted: function () {
                $(".el-upload__input").hide();
                $('#datepicker1').datepicker({
                    autoclose: true
                });
                $('#datepicker1').change(function (e) {
                    // console.log("=======",e);

                    var date = $("#datepicker1").val();
                    self.infoItem.ReceiptDate = date;
                });
               
            },
            methods: {
                Add() {
                    //TODO: 把界面上的为空判断加好，可以使用三方的一些jquery插件。
                    //console.log(self.infoItem.picked, '**************');
                   
                    AjaxPost({
                        url: "/CustomerInfoInput/Add",
                        data: self.infoItem,
                        success: function (result) {

                            console.log(result);

                            if (!result.Success) {
                                alert_danger(result.Message);
                            }
                            alert_success("创建成功");
                          
                        }
                    })


                },
                AddFile() {
                    alert("ok")
                }
            },
        })
    </script>
}


