
@section Pageheader{
    <h1>
        <small> 文档管理 </small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Document</li>
    </ol>

}


@section Htmlhead{

    <!--加载ElementUi组件-->

    <link href="~/lib/element-ui/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/lib/element-ui/index.js"></script>
    <script src="~/lib/element-ui/locale/zh-CN.js"></script>


    <style>


        .tree_menu {
            position: fixed;
            display: block;
            z-index: 20000;
            background-color: #fff;
            padding: 5px 0;
            border: 1px solid #ebeef5;
            border-radius: 4px;
            box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        }

            .tree_menu ul {
                margin: 0;
                padding: 0;
            }

                .tree_menu ul li {
                    list-style: none;
                    margin: 0;
                    padding: 0 15px;
                    font-size: 14px;
                    line-height: 30px;
                    cursor: pointer;
                }

                    .tree_menu ul li:hover {
                        background-color: #ebeef5
                    }
    </style>



}


<section class="content" id="tab">
    <div class="row">

        <!-- /.col -->
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">菜单</h3>

                    <div class="box-tools">

                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">

                            <button type="button" class="btn btn-sm pull-right bg-blue" @@click="AddDir()" id="btn_Search">   <i class="fa fa-align-justify"></i> 创建根目录</button>
                        </div>

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <el-tree :data="dirlist"
                             :props="defaultProps"
                             node-key="id"
                             default-expand-all
                             :expand-on-click-node="false"
                             @@node-click="handleNodeClick"
                             @@node-contextmenu="rightClick"></el-tree>

                    <div id="perTreeMenu" v-if="tmDisplay" class="tree_menu" :style="{...rightMenu}">
                        <ul>
                            <li @@click="MenuAddDir()">
                                <i class="el-icon-tickets"></i> 新建
                            </li>
                            <li @@click="UpdateDir()">
                                <i class="el-icon-edit"></i> 编辑
                            </li>
                            <li @@click="DelDir()">
                                <i class="el-icon-delete"></i> 删除
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /.box-body -->


                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>



                    <!-- /.pull-right -->
                </div>
            </div>
        </div>




        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">{{checkDir.Dir_Name}}</h3>

                    <div class="box-tools">





                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                            <button type="button" class="btn btn-sm pull-right bg-red" @@click="DelFile()" id="btn_Search">  <i class="fa fa-trash-o"></i> 删除</button>
                        </div>

                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                            <button type="button" class="btn btn-sm pull-right bg-blue" @@click="DownFile()" id="btn_Search">  <i class="fa fa-download"></i> 下载</button>
                        </div>

                        <div class="input-group input-group-sm  col-md-1 pull-right ml-1" style="margin-left:10px;">
                            <button type="button" class="btn btn-sm pull-right bg-blue" @@click="ShowAddFile()" id="btn_Search">  <i class="fa fa-upload"></i> 上传</button>
                        </div>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th><input type="checkbox" name="chk_file" /></th>
                                <th>文件名</th>
                                <th>发布人</th>
                                <th>上传时间</th>
                                <th>操作</th>
                            </tr>
                            <tr v-for="(item,index) in fileList">

                                <td><input type="checkbox" name="chk_file" /></td>
                                <td>{{item.File_Decode_Name}}.{{item.File_Type}}</td>
                                <td>{{item.Upload_UserName}}</td>
                                <td>{{item.Create_Time}}</td>
                                <td>
                                    <button type="button" class="btn bg-purple  btn-xs" v-on:click="Role(item)">重命名</button>
                                    <button type="button" class="btn bg-red  btn-xs" v-on:click="Role(item)">删除</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
                <!-- /.box-body -->


                <div class="box-footer no-padding">
                    <div class="card-footer clearfix pull-left" style="margin-left:20px;margin-top:30px;margin-bottom:30px">

                    </div>

                    <div class="card-footer clearfix pull-right " style="margin-right:30px;margin-top:30px;margin-bottom:30px" id="div_page">
                        <zpagenav v-bind:page="pageModel.pageIndex" v-bind:page-size="pageModel.pageSize" v-bind:total="pageModel.TotalCount"
                                  v-bind:max-page="pageModel.ToTalPage" v-on:pagehandler="InitFile">
                        </zpagenav>
                    </div>


                    <!-- /.pull-right -->
                </div>
            </div>
        </div>


    </div>





    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="txt_username">上传文档</h4>
                </div>
                <div class="modal-body">


                    <el-upload class="upload-demo"
                               ref="upload"
                               action="https://jsonplaceholder.typicode.com/posts/"
                               :on-preview="handlePreview"
                               :on-remove="handleRemove"
                               :file-list="uploadfile"
                               :multiple="true"
                               :auto-upload="false">
                        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                        <el-button style="margin-left: 10px;" size="small" type="success" @@click="SubmitUpload">上传到服务器</el-button>

                    </el-upload>

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>





</section>



@section scripts{

    <script>

        var self;

        var vm = new Vue({
            el: "#tab",
            data: {
                dirlist: [],
                fileList: [],
                uploadfile: [],
                keywork: "",

                checkDir: {},   //当前选中的文件夹节点
                tmDisplay: false,
                defaultProps: {
                    children: 'Childs',
                    label: 'Dir_Name'
                },
                pageModel: {
                    pageIndex: 1,
                    pageSize: 20,
                    TotalCount: 0,
                    ToTalPage: 0,
                },
                istable: true,


            },
            created: function () {
                self = this;
                self.InitDir();
                self.InitFile(1);
            },
            mounted() {
                this.EnterKeyup();
            },
            methods: {
                Query() {


                },
                InitDir() {

                    AjaxPost({
                        url: "/DocumentUpload/ListDirByTree",
                        data: {

                        },
                        success: function (result) {

                            console.log(result);

                            if (!result.Success) {
                                alert_info(result.Message);
                                return;
                            }

                            self.dirlist = result.Content;

                        }
                    })
                },
                AddDir(pid) {
                    //添加文件夹

                    bootbox.prompt({
                        size: "small",
                        title: "请输入文件夹名称:",
                        centerVertical: true,
                        callback: function (res) {

                            if (res == null) {
                                return;
                            }

                            var model = {};
                            model.dir_name = res;
                            model.ParentId = pid;

                            AjaxPost({
                                url: "/DocumentUpload/AddDir",
                                data: model,
                                success: function (result) {

                                    console.log(result);

                                    if (!result.Success) {
                                        alert_danger(result.Message);
                                        return;
                                    }
                                    self.InitDir();

                                }


                            });

                        }


                    })

                },
                DelDir() {


                    bootbox.confirm({
                        size: "small",
                        message: "您确定删除改文件夹吗?",
                        centerVertical: true,
                        callback: function (res) {

                            if (!res) {
                                return;
                            }

                            //删除文件夹
                            var dirId = self.checkDir.Id;

                            AjaxPost({
                                url: "/DocumentUpload/DelDir",
                                data: { id: dirId },
                                success: function (result) {

                                    console.log(result);

                                    if (!result.Success) {
                                        alert_danger(result.Message);
                                        return;
                                    }
                                    self.InitDir();

                                }
                            });

                        }

                    });

                },
                UpdateDir() {
                    //修改文件夹


                    bootbox.prompt({
                        size: "small",
                        title: "请输入文件夹名称:",
                        value: self.checkDir.Dir_Name,
                        callback: function (res) {


                            if (res == null) {
                                return;
                            }

                            var model = self.checkDir;
                            model.Dir_Name = res;

                            AjaxPost({
                                url: "/DocumentUpload/UpdateDir",
                                data: model,
                                success: function (result) {

                                    console.log(result);

                                    if (!result.Success) {
                                        alert_danger(result.Message);
                                        return;
                                    }
                                    self.InitDir();

                                }
                            });

                        }
                    });



                },
                Search: function () {
                    this.Query();
                },
                EnterKeyup() {

                    document.onkeypress = function (e) {
                        var keycode = document.all ? event.keyCode : e.which;

                        if (keycode == 13) {
                            self.Query();
                            return false;
                        }
                    };
                },
                MenuAddDir() {

                    this.AddDir(self.checkDir.Id);

                },
                handleNodeClick(data) {
                    console.log(data);
                    self.checkDir = data;
                    self.InitFile(1);
                },
                rightClick(e, data, node, comp) {
                    //设置右键菜单

                    // console.log('e:', e, 'data', data, "node", node);

                    self.checkDir = data;

                    this.rightMenu = { top: e.pageY + 'px', left: e.pageX + 'px' }
                    this.tmDisplay = true


                    document.onclick = function (ev) {
                        if (ev.target !== document.getElementById('perTreeMenu')) {
                            self.tmDisplay = false
                        }
                    }
                },
                InitFile(index) {

                    AjaxPost({
                        url: "/DocumentUpload/ListFile",
                        data: {
                            dirid: self.checkDir.Id,
                            keyword: self.keywork,
                            pageIndex: index,
                            pageSize: self.pageModel.pageSize,
                        },
                        success: function (result) {

                            console.log(result);

                            if (!result.Success) {
                                alert_danger(result.Message);
                                return;
                            }
                            self.fileList = result.Content;

                            self.pageModel.pageIndex = result.PageIndex;
                            self.pageModel.pageSize = result.PageSize;
                            self.pageModel.TotalCount = result.TotalCount;
                            self.pageModel.ToTalPage = result.ToTalPage;

                        }
                    });

                },
                ShowAddFile() {
                    $('#modal-default').modal('show');


                    $(".el-upload__input").css("display", "none");
                },
                DownFile() {


                },
                DelFile() { },
                SubmitUpload() {


                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                }

            }
        });




    </script>

}
